#tort{
    width:170px;
    height:150px;
    position: absolute;
    left: 50px;
    top: 100px;

}
#hare{
    width:170px;
    height:150px;
    position: absolute;
    left: 50px;
    top: 300px;
}
h1{
    text-align: center;
    color: blue;
}

