body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  text-align: center;
  color: white;
  font: 30px "fantasy";
  font-style: italic;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

#skyline{
  display: block;
  margin: auto;
  width: 70%;
  padding:1px;
  border:3px solid skyblue;
}

#flag{
  display: block;
  margin: auto;
  width: 20%;
  padding:50px;
}