body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: skyblue;
}

h1{
  text-align: center;
  color: black;
  font: 30px "Impact";
  font-style: italic;
  font-weight: bold;
  font-stretch: ultra-expanded;
}

h2{
  text-align: center;
  color: black;
}

.container{
  margin: auto;
  background:skyblue;
  padding: 16px;
  width: 50%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font: 15px "Arial";
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  width: 100%;
  font: 15px "Arial";
}